[submodule "API-7"]
	path = API-7
	url = https://github.com/CrystalShardDiscord/API-7
[submodule "Implementation-7"]
	path = Implementation-7
	url = https://github.com/CrystalShardDiscord/Implementation-7
[submodule "Core-7"]
	path = Core-7
	url = https://github.com/CrystalShardDiscord/Core-7
[submodule "API-8"]
	path = API-8
	url = https://github.com/CrystalShardDiscord/API-8
[submodule "Implementation-8"]
	path = Implementation-8
	url = https://github.com/CrystalShardDiscord/Implementation-8
[submodule "Core-8"]
	path = Core-8
	url = https://github.com/CrystalShardDiscord/Core-8
[submodule "Core-11"]
	path = Core-11
	url = https://github.com/CrystalShardDiscord/Core-11
[submodule "ExtensiveUtilities"]
	path = ExtensiveUtilities
	url = https://github.com/CrystalShardDiscord/ExtensiveUtilities
